.DS_Store

__pycache__/
*.pyc
*.pyo
*.pyd

.env
.venv

data/
# data/DUTS-TR/
# data/DUTS-TE/
# data/dataset.npz
outputs/
# predictions_old/
# predictions_old_2/
# best_old_model.keras
# best_old2_model.keras
scripts/
#check_data.py
debug_img.png
debug_mask.png


.vscode/